
TaiJi/.vs/TaiJi/v15/.suo
TaiJi/.vs/TaiJi/v15/Browse.VC.db
TaiJi/.vs/TaiJi/v15/Browse.VC.opendb
TaiJi/.vs/TaiJi/v15/ipch/AutoPCH/5bb372de23a7de51/MAIN.ipch
TaiJi/.vs/TaiJi/v15/ipch/AutoPCH/c46d3070ee4a62b7/PERSON.ipch
TaiJi/Debug/SmartPointer.exe
TaiJi/Debug/SmartPointer.ilk
TaiJi/Debug/SmartPointer.pdb
TaiJi/SmartPointer/Debug/main.obj
TaiJi/SmartPointer/Debug/Person.obj
TaiJi/SmartPointer/Debug/SmartPointer.log
TaiJi/SmartPointer/Debug/SmartPointer.tlog/CL.command.1.tlog
TaiJi/SmartPointer/Debug/SmartPointer.tlog/CL.read.1.tlog
TaiJi/SmartPointer/Debug/SmartPointer.tlog/CL.write.1.tlog
TaiJi/SmartPointer/Debug/SmartPointer.tlog/link.command.1.tlog
TaiJi/SmartPointer/Debug/SmartPointer.tlog/link.read.1.tlog
TaiJi/SmartPointer/Debug/SmartPointer.tlog/link.write.1.tlog
TaiJi/SmartPointer/Debug/SmartPointer.tlog/SmartPointer.lastbuildstate
TaiJi/SmartPointer/Debug/vc141.idb
TaiJi/SmartPointer/Debug/vc141.pdb
TaiJi/SmartPointer/SmartPointer.vcxproj.filters
TaiJi/SmartPointer/SmartPointer.vcxproj.user
/TaiJi/.vs/TaiJi/v16
